body {
background-color: #111827
}

h1{
    color: #F9FAFB
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    font-family: 'Courier New', Courier, monospace;
}

h2{
    color: #F9FAFB
}

a{
    font-family: serif;
}

p{
    font-family: 'Courier New', Courier, monospace;
}

header {
height: 50px;
background-color: rgba(33, 29, 92, 0.815);
}

h1 {
text-align: center;
text-decoration: underline;
}