body {
background-color: #111827
}

h1{
    color: #c0c4c9
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    font-family: 'Courier New', Courier, monospace;
}

h2{
    color: #b0b8c0
}

a{
    font-family: serif;
}

p{
    font-family: 'Courier New', Courier, monospace;
}

header {
height: 50px;
background-color: rgba(33, 29, 92, 0.815);
}

h1 {
text-align: center;
text-decoration: underline;
}

.text-box {
width: 20%; 
height: 25vh; 
overflow-y: auto; 
padding: 20px;
background: #1e293b;
color: rgb(185, 182, 182);
border-radius: 12px;
}

.text-box2 {
width: 3%; 
height: 25vh; 
overflow-y: auto; 
padding: 20px;
background: #1e293b;
color: white;
border-radius: 12px;
margin-left: auto;
transform: translateY(-800px);
}

/* Unvisited link */
a:link {
    color: rgb(255, 255, 255);
    text-decoration: none; 
}

/* Visited link */
a:visited {
    color: rgb(255, 255, 255);
}

/* Mouse over link */
a:hover {
    color: rgb(238, 0, 119);
    text-decoration: underline;
}

/* Selected link (while clicking) */
a:active {
    color: rgb(21, 33, 100);
}