body {
background-color: #111827;
background: linear-gradient(135deg,#050b1f,#101f4d);
}


h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #7261b6;
}

.topnav{
  background-color: #29214b;
  overflow: hidden;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 24px;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #7261b6;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}


h2{
    font-family: 'Courier New', Courier, monospace;
}

h2{
    color: #b0b8c0
}

a{
    font-family: serif;
}

p{
    font-family: 'Courier New', Courier, monospace;
}

h1 {
text-align: center;
}

.text-box {
width: 30%; 
height: 35vh; 
overflow-y: auto; 
padding: 20px;
background: #1e293b;
color: rgb(185, 182, 182);
border-radius: 12px;
align-content: center;
margin: 0 auto;
align-self: center;

}

.text-box2 {
width: 2%; 
height: 28vh; 
overflow-y: auto; 
padding: 20px;
background: #1e293b;
color: white;
border-radius: 6px;
margin-left: auto;
transform: translateY(-430px);
align-content: center;
}

/* Unvisited link */
a:link {
    color: rgb(255, 255, 255);
    text-decoration: none; 
}

/* Visited link */
a:visited {
    color: rgb(255, 255, 255);
}

/* Mouse over link */
a:hover {
    color: rgb(238, 0, 119);
    text-decoration: underline;
}

/* Selected link (while clicking) */
a:active {
    color: rgb(21, 33, 100);
}

aside {
float: left;
width: 200px;
background-color: #1e293b;
color: white;
padding: 10px;
border-radius: 5px;
margin: 10px;
height: 28vh;
transform: translateY(125px);
}

.text-box3 {
width: 8%; 
height: 4vh; 
overflow-y: auto; 
padding: 10px;
background: #1e293b;
color: white;
border-radius: 6px;
transform: translateY(-840px);
align-content: center;
}

li{
    color: #b0b8c0;
    font-family: 'Courier New', Courier, monospace;
}

b{
    color: #b0b8c0;
}

.skills-container {
display: flex;
flex-direction: column;
gap: 8px; /* space between boxes */
}
.skill-box {
background-color: #1e293b;
color: white;
padding: 10px 15px;
border-radius: 8px;
width: fit-content;
font-family: monospace;
transform: translateY(-760px);
}

h3{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #7261b6;
    transform: translateY(-750px);
    font-size: x-large;
}

.text-box5{
    width: 30%; 
height: 35vh; 
overflow-y: auto; 
padding: 20px;
background: #1e293b;
color: rgb(185, 182, 182);
border-radius: 12px;
align-content: center;
margin: 0 auto;
align-self: center;
transform: translateY(-700px);
}